body{
    margin: 0px;
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 80px;
    
}
.project-h2{
    text-align: center;
    color:lightslategray;
}
section{
    height: 500px;
    padding-bottom: 150px;

}
p{
    color: dimgray;
    width: 260px;
}
.tomato-highlight{
    color: tomato;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    padding: 15px 30px;
    border-radius: 5px;
    color: white;
    
 }
 .half-width{
    width: 40%;
    float: left;
    margin-left: 2%;
    padding-left: 3%;
    
}
.half-width img{
    width: 80%;
}
/* #intro-section{
    height: 300px;
    padding-bottom: 150px;
} */
#about-h1{
    font-size: 50px;
}
#about-width-peragraph{
    width: 350px;
    
}
/* #projects-section{
    height: 500px;
    padding-top: 150px;
} */
.picturebox{
    padding: 0 1% 1% 1%;
    float: left;
    width: 100%;
}
.picturebox img{
    width: 30%;
}
.projects-section{
    width: 25%;;
   height: 50%;  
   margin-right: 20px;
   margin-left: 10px;
   border-radius: 5px;
   padding-left: 50px;
   background-color: gainsboro;
   float: left;
   
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#bottom-banner{
     background-image: url("images/Group_33094_1.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size: 60%;
     height: 200px;
    
}
#inqury-h2{
    position: absolute;
    left:25%;
    color: white;
    
}
.banner-button{
    position: absolute;
    right: 30%;
    top:2100px;
    
}
h6{
 text-align: center;
 color: lightsteelblue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
li {
    float: right;
}
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
    color: black;
  }